<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484142349219-l9tpdnjb1gfsmtgbnb69t884voccj3p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484142349219-l9tpdnjb1gfsmtgbnb69t884voccj3p8</string>
	<key>API_KEY</key>
	<string>AIzaSyBaFgxfA7bL1JR4SZtpjMXyV7pmGXx0Jfo</string>
	<key>GCM_SENDER_ID</key>
	<string>484142349219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pavel-Nastusevich.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2103d</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2103d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484142349219:ios:94df6864e17929c4f43816</string>
</dict>
</plist>